html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    transition: width .2s;
}
#indicator.collapsed {
    width: 0;
}