html, body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}
#menu-button {
    z-index: 2;
    position: absolute;
    top: 5vh;
    right: 5vh;
    cursor: pointer;
    border: none;
    font-size: 2em;
    color: black;
    background-color: inherit;
}
#menu, #settings, #spinner {
    display: none;
}
#menu.show, #settings.show {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}
#spinner.show {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    font: 2em sans;
}
.menu-option {
    display: block;
    cursor: pointer;
    font: bold 1em sans;
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    padding: 1em 2em;
    margin: .5em 0;
    border: 1px black solid;
    border-radius: .2em;
}
#settings-button {
    display: block;
    z-index: 2;
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    cursor: pointer;
    border: none;
    font-size: 2em;
    color: black;
    background-color: inherit;
}
.settings-option {
    font: bold 1em sans;
    text-align: center;
    color: black;
    background-color: white;
    width: auto;
    padding: 1em 2em;
    margin: .5em 0;
    border: 1px black solid;
    border-radius: .2em;
}
#undo-button {
    z-index: 1;
    display: none;
    position: absolute;
    top: 5vh;
    left: 5vh;
    cursor: pointer;
    border: none;
    font-size: 2em;
    color: black;
    background-color: inherit;
}
#undo-button.show {
    display: block;
}
#replay-last-move-button {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    cursor: pointer;
    border: none;
    font-size: 2em;
    color: black;
    background-color: inherit;
}
#replay-last-move-button.show {
    display: block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: .8em;
    width: .8em;
    left: .1em;
    bottom: .1em;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: black;
}
input:focus + .slider {
    box-shadow: 0 0 1px gray;
}
input:checked + .slider:before {
    transform: translateX(1em);
}
.slider.round {
    border-radius: 1em;
}
.slider.round:before {
    border-radius: 50%;
}
#robot-strength-select {
    font-size: 1em;
    font-weight: bold;
    border: 0;
    background-color: inherit;
}

#indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width .5s;
}
#indicator.show {
    width: 100vw;
}
#message-container {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100vw;
    text-align: center;
}
#message {
    font: 2em sans;
    color: black;
    padding: .1em 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .2em;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}