html, body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}
#menu-button {
    z-index: 1;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#menu, #settings {
    display: none;
}
#menu.show, #settings.show {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.menu-option {
    display: block;
    cursor: pointer;
    font: bold 3em sans;
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    padding: 1em 2em;
    margin: .5em 0;
    border: 1px black solid;
    border-radius: .2em;
}
#settings-button {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 1em;
    left: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
.settings-option {
    font: bold 3em sans;
    text-align: center;
    color: black;
    background-color: white;
    width: auto;
    padding: 1em 2em;
    margin: .5em 0;
    border: 1px black solid;
    border-radius: .2em;
}
.disabled {
    color: gray;
}
#undo-button {
    display: none;
    /* z-index: 1; */
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#undo-button.show {
    display: block;
}
#replay-last-move-button {
    display: none;
    /* z-index: 1; */
    position: absolute;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#replay-last-move-button.show {
    display: block;
}

#indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width .5s;
}
#indicator.show {
    width: 100vw;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /* -webkit-transition: .4s; */
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: .8em;
    width: .8em;
    left: .1em;
    bottom: .1em;
    background-color: white;
    /* -webkit-transition: .4s; */
    transition: .4s;
}
input:checked + .slider {
    background-color: black;
}
input:focus + .slider {
    box-shadow: 0 0 1px gray;
}
input:checked + .slider:before {
    /* -webkit-transform: translateX(26px); */
    /* -ms-transform: translateX(26px); */
    transform: translateX(1em);
}
  /* Rounded sliders */
.slider.round {
    border-radius: 1em;
}
.slider.round:before {
    border-radius: 50%;
}