html, body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}
#menu-button {
    z-index: 1;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#menu {
    display: none;
}
#menu.show {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.menu-option {
    display: block;
    cursor: pointer;
    font: bold 3em serif;
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    padding: 1em 2em;
    margin: .5em 0;
    border: 1px black solid;
    border-radius: .2em;
}
#undo-button {
    display: none;
    z-index: 1;
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#undo-button.show {
    display: block;
}
#replay-last-move-button {
    display: none;
    z-index: 1;
    position: absolute;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    border: none;
    font-size: 5em;
    color: black;
    background-color: inherit;
}
#replay-last-move-button.show {
    display: block;
}
#indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    transition: width .5s;
}
#indicator.collapsed {
    width: 0;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}